@model BeFit.Web.Models.Cwiczenie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cwiczenie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiczbaSerii)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiczbaSerii)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obciazenie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obciazenie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypCwiczenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypCwiczenia.Nazwa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SesjaTreningowa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SesjaTreningowa.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
